@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>My Email</strong>   <a href="mailto:Support@example.com">u23770954@tuks.co.za</a><br />
        <strong>My Phone Number:</strong> <p>065 820 8323</p>
    </address>
</main>